[submodule "Firmware/Stormbreaker/lib/bq25895"]
	path = Firmware/Stormbreaker/lib/bq25895
	url = https://github.com/VoxelTek/bq24292i
[submodule "RVLoader"]
	path = RVLoader
	url = https://github.com/VoxelTek/RVLoader_Stormbreaker
